*{
    box-sizing: border-box;
    margin:0;
<<<<<<< HEAD
    padding:0;
=======
>>>>>>> 1baac522ebbb4d809a79c8f94caf645b5bb9748f
}
a{
    text-decoration: none;
}
<<<<<<< HEAD
html,body{
    width: 1920px;
    height: 1080px;;
    margin:auto;
}
#top-menu{
    background-color: #333;
    padding-bottom:20px;
    padding-top:20px;
    padding-left:20px;
    border:1px solid black;
    overflow: hidden;
    width: 100%;
    height: 10%;
}

=======
/*
ul{
    background-color: red;
    padding-bottom:20px;
    padding-top:20px;
    margin-bottom: 20px;
    border:1px solid black;
    overflow: hidden;
}
*/
>>>>>>> 1baac522ebbb4d809a79c8f94caf645b5bb9748f
ul li{
    list-style-type: none;
    padding-right: 3%;
    float:right;
    font-weight: bolder;
    font-size: larger;
}
ul #home:hover, ul .menu:hover{
    color: black;
}

#home{
    float:left;
    font-size: 30px;
    text-decoration: none;
    color:whitesmoke;
}
.menu{
    color:whitesmoke;
    text-decoration: none;
}

#join{
    width: 60%;
    background-color: aliceblue;
    margin:auto;
    border: 1px solid gainsboro;
}
#join h2{
    text-align: center;
}
#join div{
    margin: auto;
    width:100%;
    text-align: center;
    padding: 3%;

}
#deselect{
    background-color:aliceblue;
    color:black;
    font-weight: bolder;
}
#deselect:hover{
    background-color: black;
    color:white
}
#btn-save{
    font-size: larger;
    margin:auto;
    background-color: rgb(255, 0, 0);
    color:white;
}

<<<<<<< HEAD
#btn-save:hover{
=======
#submit:hover{
>>>>>>> 1baac522ebbb4d809a79c8f94caf645b5bb9748f
    filter:opacity(0.7);
    color:black;
}
footer{
    margin:0;
<<<<<<< HEAD
    width:100%;
    height: 20%;    
    background-color: gainsboro;
    bottom:0px;
    text-align: center;
    
}
footer div{
    padding:10px;
}

=======
    height:20%;
    width:100vw;
    background-color: gainsboro;
    position: absolute;
    bottom:0px;
    text-align: center;
}
footer div{
    margin:10px;
}
>>>>>>> 1baac522ebbb4d809a79c8f94caf645b5bb9748f
